03/NEWSPAPER.dtd

<!DOCTYPE NEWSPAPER
[
<!ELEMENT NEWSPAPER ( ARTICLE+)>
<!ELEMENT ARTICLE (HEADLINE,BYLINE,LEAD,BODY,NOTES)>
		<!ELEMENT HEADLINE (#PCDATA)>
		<!ELEMENT BYLINE (#PCDATA)>
		<!ELEMENT LEAD (#PCDATA)>
		<!ELEMENT BODY (#PCDATA)>
		<!ELEMENT NOTES (#PCDATA)> <!-- end ARTICLE -->
				
	<ARTICLE AUTHOR CDATA #REQUIRED>
	<ARTICLE EDITOR CDATA>
	<ARTICLE DATE CDATA>
	<ARTICLE EDITION CDATA>
	
	
]>